<template>
    <div class="container-fluid">
        <ValidarAdmin />
        <div class="row align-items-center">
            <div class="col-lg-9 col-sm-9">
                <div class="page-title">
                    <h3>Detalles Membresias del Usuario</h3>
                </div>
            </div>

            <div class="col-lg-3 col-sm-3">
                <a href="#" @click="back()" class="btn btn-info w-100">Regresar</a>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-lg-4" :class="detalleMembresia">
                <div class="card">
                    <div class="card-header">
                        Ver Detalle Membresia
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="">Tipo de Paquete</label>
                            <input type="text" v-model="membresia.detalle_paquete.title" disabled class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="">Fecha Inicio</label>
                            <input type="text" v-model="membresia.start" disabled class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="">Fecha Fin</label>
                            <input type="text" v-model="membresia.end" disabled class="form-control">
                        </div>

                        <div class="form-group" v-if="membresia.detalle_pago">
                            <label for="">Monto Pagado</label>
                            <input type="text" v-model="membresia.detalle_pago.amount_platform" disabled class="form-control">
                        </div>

                        <div class="form-group text-center" v-if="membresia.detalle_pago">
                            <a :href="membresia.detalle_pago.receipt_url_stripe" target="__blank"> <i class="fa fa-file icon-format-list"></i> </a>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-danger w-100" @click="cerrarDetalle()">Cerrar</button>
                    </div>
                </div>
            </div>


            <div :class="listadoMembresia">
                <div class="card">
                    <div class="card-header">
                        Listado de Membresias
                    </div>
                    <div class="card-body">
                        <div class="table-responsive" data-simplebar>
                            <table class="table align-middle mb-0">
                                <tbody>
                                    <tr v-for="membresia in membresias" :key="membresia.uuid">
                                        <td>
                                            <div class="form-check">
                                                <div class="info">
                                                        <h6>{{ membresia.detalle_paquete.title}}</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            Inicio:
                                            <span class="location">{{ membresia.start }}</span>
                                        </td>
                                        <td>
                                            Fin: 
                                            <span class="location">{{ membresia.end }}</span>
                                        </td>

                                        <td>
                                                    <a href="#" @click="ver(membresia)">
                                                        <i class="fa fa-eye icon-format-list" />
                                                    </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import MembershipsService from '@/services/MembershipsService'
import ValidarAdmin from '@/components/ValidarAdmin'

export default {
    name: 'MembresiasUsuarios',
    components: {ValidarAdmin},
    data() {
        return{
            membresias: [],
            idUser: this.$route.params.uuid,
            membresia: {
                start: '',
                end: '',
                detalle_paquete: {
                    title: null
                },
                detalle_pago: {
                    amount_platform: null
                }
            },
            detalleMembresia: "styleNone",
            listadoMembresia: "col-lg-12"
        }
    },
    methods: {
        async getMembresias() {
            let loader = this.$loading.show();
            await MembershipsService.byUser(this.idUser).then((data) => {
                const res = data.data

                this.membresias = res.data
                loader.hide()
            })
        },

        ver(membresia) {
            this.detalleMembresia = "styleShow"
            this.listadoMembresia = "col-lg-8"
            this.membresia = membresia
            console.log(this.membresia)
        },

        back(){
            this.$router.push("/users");
        },

        cerrarDetalle(){
            this.detalleMembresia = "styleNone"
            this.listadoMembresia = "col-lg-12"
        }
    },
    created() { 
        this.getMembresias()
    }
}
</script>

<style>
    .styleNone{
        display:none
    }

    .styleShow {
        display:block
    }
</style>