<template>
    <div class="container-fluid">
        <ValidarAdmin />
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        Crear Mensaje Para Template
                    </div>
                    <form v-on:submit.prevent="store()">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-9 col-sm-9">
                                    <input type="text" class="form-control" v-model="message" placeholder="Mensaje">
                                </div>

                                <div class="col-lg-3 col-sm-3 ">
                                    <label>Es Obligatorio?</label> <br />
                                    <input class="form-check-input" type="checkbox" v-model="required" />
                                </div>
                            </div>

                        </div>
                        <div class="card-footer ml-auto">
                            <button type="submit" class="default-btn w-100">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <ValidarAdmin />
    </div>
</template>

<script>
import MessagesService from '@/services/MessagesService';
import ValidarAdmin from '@/components/ValidarAdmin'
import Swal from "sweetalert2";

export default {
    name: 'MessagesCreate',
    components: {ValidarAdmin},
    data() {
        return {
            message: '',
            required: '',
            idTemplate: this.$route.params.uuid,
        }
    },
    methods: {
        async store() {
            let loader = this.$loading.show();

            const data = {
                idTemplate: this.idTemplate,
                required: this.required,
                message: this.message,
                disable: false
            }

            await MessagesService.store(data).then((data) => {
                console.log(data)
                const idResponse = data.data.uuid_template
                this.$router.push("/messages/"+this.idTemplate);
                Swal.fire("Registro Guardado!", data.data.message, "success")
                loader.hide()
            }).catch(() => {
                Swal.fire('Error!', 'Guardado no procesado, intente de nuevo', 'error')
                loader.hide()
            })
        }
    }
}
</script>

<style lang="scss" scoped>

</style>