<template>
    <div class="container-fluid">
        <ValidarAdmin />
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        Crear Mensaje Para Template
                    </div>
                    <form v-on:submit.prevent="store()">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-9 col-sm-9">
                                    <input type="text" class="form-control" v-model="message" placeholder="Mensaje">
                                </div>

                                <div class="col-lg-3 col-sm-3 ">
                                    <label>Es Obligatorio?</label> <br />
                                    <input class="form-check-input" type="checkbox" v-model="required" />
                                </div>
                            </div>

                        </div>
                        <div class="card-footer ml-auto">
                            <button type="submit" class="default-btn w-100">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <ValidarAdmin />
    </div>
</template>

<script>
import MessagesService from '@/services/MessagesService';
import ValidarAdmin from '@/components/ValidarAdmin'
import Swal from "sweetalert2";


export default {
    name: 'MessagesEdit',
    components: {ValidarAdmin},
    data() {
        return {
            message: '',
            required: '',
            idMessage: this.$route.params.uuid,
        }
    },
    methods: {
        async get() {
            let loader = this.$loading.show();
            await MessagesService.get(this.idMessage).then((data) => {
                this.message = data.data.data.message
                this.required = data.data.data.required
                if(this.required == 1){
                    this.required = true
                }
                loader.hide()
            })
        },

        async store(){
            let loader = this.$loading.show();
            const data = {
                message: this.message,
                required: this.required
            }
            await MessagesService.update(data, this.idMessage).then((data) => {
                Swal.fire("Actualizado!",data.data.message, "success")
                loader.hide()
                this.$router.push("/messages/"+data.data.id_template);
            })
        }
    },
    created() {
        this.get()
    }
}
</script>

<style lang="scss" scoped>

</style>