<template>
    <div class="page-title-area">
        <ValidarAdmin />
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-9 col-sm-9">
                    <div class="page-title">
                        <h3>Mensajes de la Plantila</h3>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-3">
                    <a @click="crear" class="btn btn-success w-100"> <i class="fa fa-plus-circle" />
                        Crear Nueva Mensaje</a>
                </div>
            </div>

            <div class="contact-list-area">
                <div class="container-fluid">
                    <div class="table-responsive" data-simplebar>
                        <table class="table align-middle mb-0">
                            <tbody>
                                <tr v-for="message in messages" :key="message.uuid">
                                    <td>
                                        <div class="form-check">
                                            <div class="info">
                                                <h6>{{ message.message }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        Obligatorio:
                                        <span class="location" v-if="message.required == 1"><strong>Si</strong></span>
                                        <span class="location" v-if="message.required != 1"><strong>No</strong></span>
                                    </td>

                                    <td>
                                        <ul class="d-flex justify-content-betweens">
                                            <li>
                                                <a href="#" @click="edit(message.uuid)" data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal">
                                                    <i class="fa fa-edit icon-format-list" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" @click="eliminar(message.uuid)">
                                                    <i class="fa fa-trash text-danger icon-format-list" />
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import ValidarAdmin from '@/components/ValidarAdmin'
import MessagesService from '@/services/MessagesService';
import Swal from "sweetalert2";


export default {
    name: 'Messsages',
    components: { ValidarAdmin },
    data() {
        return {
            messages: [],
            idTemplate: this.$route.params.uuid,
        }
    },
    methods: {
        async get(){
            let loader = this.$loading.show();
            await MessagesService.byTemplate(this.idTemplate).then((data) => {
                const res = data.data.data
                this.messages = res
                loader.hide()
            }).catch((e) => {
                loader.hide()
                this.disable = false
                Swal.fire("Error!", "Error al actualizar el usuario intente nuevamente", "error")
            })
        },

        crear() {
            this.$router.push("/message/create/"+this.idTemplate);
        },

        async eliminar(uuid){
            let loader = this.$loading.show();
            await MessagesService.delete(uuid).then((data) => {
                Swal.fire("Registro Eliminado!", data.data.message, "success")

                loader.hide()

                this.get()
            })
        },

        edit(uuid) {
            this.$router.push("/message/edit/"+uuid);
        }
    },
    created() {
        this.get()
    }
}
</script>

<style lang="scss" scoped>

</style>