@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$body-font-family: 'Poppins', sans-serif;

$body-color: #67748e;
$main-color: #4fcb8d;
$heading-color: #292d32;
$white-color: #ffffff;
$black-color: #000000;
$font-size: 15px;
$transition: all ease .5s;
$border-radius: 10px;
$box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);

/*
Copy Right Footer Content Style
=====================================================*/
.footer-content {
	text-align: center;
	background: #EBF1FF 0% 0% no-repeat padding-box;
	border: 1px solid #CAD6F2;
	border-radius: 20px;
	padding: 20px;
	margin-bottom: 12px;
	p {
		font-size: 14px;
		font-weight: 600;
		color: #292D32;
		a {
			color: #ff3e03;
		}
	}
}