<template>
    <div class="footer-area">
                    <div class="container-fluid">
                        <div class="footer-content">
                            <p>© Desarrollado por <a href="https://primeroleads.com/" target="_blank">PrimeroLeads</a></p>
                        </div>
                    </div>
                </div>
</template>

<script>
    export default {
        name: 'FooterComponent'
    }
</script>

<style lang="scss" scoped>

</style>