<template>
    <div class="header-area">
                <div class="container-fluid">
                    <div class="header-content-wrapper">
                        <div class="header-content d-flex justify-content-between align-items-center">
                            <div class="header-left-content d-flex">
                                <div class="responsive-burger-menu d-block d-lg-none">
                                    <span class="top-bar"></span>
                                    <span class="middle-bar"></span>
                                    <span class="bottom-bar"></span>
                                </div>

                                <div class="logo_principal">


                                    <a href="index.html">
                                        <img class="logo_img" src="@/assets/images/main-logo.svg" alt="main-logo">
                                    </a>
                                </div>

                                <form class="search-bar d-flex">
                                    <img src="@/assets/images/icon/search-normal.svg" alt="search-normal">

                                    <input class="form-control" type="search" placeholder="Buscar" aria-label="Search">
                                </form>

                                <div class="option-item for-mobile-devices d-block d-lg-none">
                                    <i class="search-btn ri-search-line"></i>
                                    <i class="close-btn ri-close-line"></i>

                                    <div class="search-overlay search-popup">
                                        <div class='search-box'>
                                            <form class="search-form">
                                                <input class="search-input" name="search" placeholder="Search" type="text">

                                                <button class="search-button" type="submit">
                                                    <i class="ri-search-line"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="header-right-content d-flex align-items-center">
                                <!-- <div class="header-right-option">
                                    <a href="#" class="dropdown-item fullscreen-btn" id="fullscreen-button">
                                        <img src="@/assets/images/icon/maximize.svg" alt="maximize">
                                    </a>
                                </div> -->


                                <!-- <div class="header-right-option notification-option dropdown">
                                    <div class="dropdown-item dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <div class="notification-btn">
                                            <img src="@/assets/images/icon/notification.svg" alt="notification">
                                            <span class="badge">3</span>
                                        </div>
                                    </div>

                                    <div class="dropdown-menu">
                                        <div class="dropdown-header d-flex justify-content-between align-items-center bg-linear">
                                            <span class="title d-inline-block">3 Nuevas alertas</span>
                                            <span class="mark-all-btn d-inline-block">Marcar como leidas</span>
                                        </div>

                                        <div class="dropdown-wrap" data-simplebar>

                                            <a href="#" class="dropdown-item d-flex align-items-center">
                                                <div class="icon">
                                                    <i class='bx bx-user'></i>
                                                </div>

                                                <div class="content">
                                                    <span class="d-block">Nuevo contacto registrado</span>
                                                    <p class="sub-text mb-0">5 sec ago</p>
                                                </div>
                                            </a>

                                            <a href="#" class="dropdown-item d-flex align-items-center">
                                                <div class="icon">
                                                    <i class='bx bx-user'></i>
                                                </div>

                                                <div class="content">
                                                    <span class="d-block">Nuevo contacto registrado</span>
                                                    <p class="sub-text mb-0">5 sec ago</p>
                                                </div>
                                            </a>

                                            <a href="#" class="dropdown-item d-flex align-items-center">
                                                <div class="icon">
                                                    <i class='bx bx-user'></i>
                                                </div>

                                                <div class="content">
                                                    <span class="d-block">Nuevo contacto registrado</span>
                                                    <p class="sub-text mb-0">5 sec ago</p>
                                                </div>
                                            </a>


                                        </div>

                                        <div class="dropdown-footer">
                                            <a href="index.html" class="dropdown-item">Ver Todos</a>
                                        </div>
                                    </div>
                                </div> -->

                                <div class="header-right-option dropdown profile-nav-item pt-0 pb-0">
                                    <a class="dropdown-item dropdown-toggle avatar d-flex align-items-center" href="#" id="navbarDropdown-4" role="button" data-bs-toggle="dropdown" aria-expanded="false">

                                        <div class="d-none d-lg-block d-md-block">
                                            <h3>{{ nombre }}</h3>
                                            <span>{{ email }}</span>

                                        </div>
                                    </a>

                                    <div class="dropdown-menu">
                                        <div class="dropdown-header d-flex flex-column align-items-center">
                                            <div class="figure mb-3">
                                                <img src="@/assets/images/avatar.png" class="rounded-circle" alt="avatar">
                                            </div>

                                            <div class="info text-center">
                                                <span class="name">{{ nombre }}</span>
                                                <p class="mb-3 email">
                                                    <a href="#">{{ email }}</a>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="dropdown-wrap">
                                            <ul class="profile-nav p-0 pt-3">

                                                <li class="nav-item">
                                                    <a href="{{ route('editar-perfil" class="nav-link">
                                                        <i class="fa fa-user mt-2"></i>
                                                        <span>Editar Perfil</span>
                                                    </a>
                                                </li>


                                            </ul>
                                        </div>

                                        <div class="dropdown-footer">
                                            <ul class="profile-nav">
                                                <li class="nav-item">
                                                    <router-link to="/logout" class="nav-link">
                                                        <i class="fa fa-sign-out mt-2"></i>
                                                        <span>Salir</span>
                                                    </router-link>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
</template>

<script>
    export default {
        name: 'HeaderComponent',
        data() {
            return {
                nombre: localStorage.getItem('nombre'),
                email: localStorage.getItem('email')
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>