<template>
    <nav class="sidebar-menu">

        <ul class="list-group flex-column d-inline-block first-menu" data-simplebar>
            <li class="list-group-item main-grid" v-for="menu in menus" :key="menu.id">
                <router-link :to="menu.to" class="icon icon-sidebar">
                    <i :class="menu.icon" class="icon-format" />
                </router-link>
            </li>
        </ul>

    </nav>
</template>

<style>
    .icon-format{
        color: #ff3e03;
        font-size: 1.7rem!important;
    }

    .icon-sidebar{
        border: solid 3px #ff3e03;
        padding: 2px;
    }

    .icon:hover .icon-format:hover{
        color:white;
        border: 0px;
    }
</style>

<script>
export default {
    name: 'SideBarComponent',
    data() {
        return {
            menus: [],
            typeUser: localStorage.getItem('typeUser')
        }
    },
    methods: {
        loadMenu() {
            if(this.typeUser == 1)
            {}
            if(this.typeUser == 2)
            {
                this.menus = [
                    {id: 1, to: '/', icon: 'fa fa-columns'},
                    {id: 2, to: '/users', icon: 'fa fa-users'},
                    {id: 3, to: '/packages', icon: 'fa fa-server'},
                    {id: 4, to: '/pays', icon: 'fa fa-money'},
                    {id: 5, to: '/templates', icon: 'fa fa-cog'}
                ]
            }
        }
    },
    created(){
        this.loadMenu()
    }
}
</script>

<style lang="scss" scoped>

</style>