<template>
    <div class="page-title-area">
        <ValidarAdmin />
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-9 col-sm-9">
                    <div class="page-title">
                        <h3>Pagos</h3>
                    </div>
                </div>
            </div>

            <div class="contact-list-area">
                <div class="container-fluid">
                    <div class="table-responsive" data-simplebar>
                        <table class="table align-middle mb-0">
                            <tbody>
                                <tr v-for="pay in pays" :key="pay.uuid">
                                    <td>
                                        <div class="form-check">
                                            Id Stripe Transaction:
                                            <div class="info">
                                                <h6>{{ pay.id_stripe }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        Monto:
                                        $ <span class="location">{{ pay.amount_platform }}</span>
                                    </td>
                                    <td>
                                        Fecha:
                                        <span class="location">{{ pay.created_at }}</span>
                                    </td>
                                    <td>
                                        <i v-if="pay.type_card == 'visa'" class="fa fa-cc-visa icon-format-list"></i>
                                        <i v-if="pay.type_card == 'mastercard'"
                                            class="fa fa-cc-mastercard icon-format-list"></i>
                                    </td>

                                    <td>
                                        <a :href="pay.receipt_url_stripe" target="__blank">
                                            <i class="fa fa-file icon-format-list" />
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
import PaysServices from '@/services/PaysServices';
import ValidarAdmin from '@/components/ValidarAdmin'

export default {
    name: 'Pays',
    components: {ValidarAdmin},
    data() {
        return {
            pays: []
        }
    },
    methods: {
        async getPays() {
            let loader = this.$loading.show();
            await PaysServices.getPays().then((data) => {
                this.pays = data.data.data
                loader.hide()
            })
        }
    },
    created() {
        this.getPays()
    }
}
</script>

<style lang="scss" scoped>

</style>