<template>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-9 col-sm-9">
                <div class="page-title">
                    <h3>Detalles Pagos del Usuario</h3>
                </div>
            </div>

            <div class="col-lg-3 col-sm-3">
                <a href="#" @click="back()" class="btn btn-info w-100">Regresar</a>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        Listado de Pagos
                    </div>
                    <div class="card-body">
                        <div class="table-responsive" data-simplebar>
                            <table class="table align-middle mb-0">
                                <tbody>
                                    <tr v-for="pay in pays" :key="pay.uuid">
                                        <td>
                                            <div class="form-check">
                                                Id Stripe Transaction:
                                                <div class="info">
                                                    <h6>{{ pay.id_stripe }}</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            Monto:
                                            $ <span class="location">{{ pay.amount_platform }}</span>
                                        </td>
                                        <td>
                                            Fecha:
                                            <span class="location">{{ pay.created_at }}</span>
                                        </td>
                                        <td>
                                            <i v-if="pay.type_card == 'visa'"
                                                class="fa fa-cc-visa icon-format-list"></i>
                                            <i v-if="pay.type_card == 'mastercard'"
                                                class="fa fa-cc-mastercard icon-format-list"></i>
                                        </td>

                                        <td>
                                            <a :href="pay.receipt_url_stripe" target="__blank">
                                                <i class="fa fa-file icon-format-list" />
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ValidarAdmin />
    </div>
</template>


<script>
import PaysServices from '@/services/PaysServices';
import ValidarAdmin from '@/components/ValidarAdmin'

export default {
    name: 'PaysUser',
    components: {ValidarAdmin},
    data() {
        return {
            pays: [],
            idUser: this.$route.params.uuid,
        }
    },
    methods: {
        async getPays() {
            let loader = this.$loading.show();
            await PaysServices.byUser(this.idUser).then((data) => {
                this.pays = data.data.data
                loader.hide()
            })
        },

        back() {
            this.$router.push("/users");
        },
    },
    created() {
        this.getPays()
    }
}
</script>

<style lang="scss" scoped>

</style>