<template>
  <div class="overview-content-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="single-audience d-flex justify-content-between align-items-center">
                        <div class="audience-content">
                            <h5>{{ titulo1 }}</h5>
                            <h4>{{ data1 }}</h4>
                        </div>
                        <div class="icon">
                            <img src="@/assets/images/icon/note-2.svg" alt="white-profile-2user">
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-sm-6">
                    <div class="single-audience d-flex justify-content-between align-items-center">
                        <div class="audience-content">
                            <h5>{{ titulo2 }}</h5>
                            <h4>{{ data2 }}</h4>
                        </div>
                        <div class="icon">
                            <img src="@/assets/images/icon/user-2.svg" alt="eye">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>

export default {
  name: 'HomeView',
  components: {
  },
  data() {
    return {
      titulo1: "Titulo prueba",
      data1: 100,
      titulo2: "Titulo 2",
      data2: 200
    }
  }
}
</script>
