<template>
    <div class="account-area">
        <div class="d-table" v-if="registerValue == 0">
            <div class="d-table-cell">
                <div class="container">
                    <div class="account-content">
                        <div class="account-header">
                            <a href="/">
                                <img class="form-logo" src="@/assets/images/main-logo.svg" alt="main-logo">
                            </a>
                            <h3>Iniciar Sesion</h3>
                        </div>
                        <form class="account-wrap" v-on:submit.prevent="login()">
                            <div class="form-group mb-24 icon">
                                <input type="email" class="form-control" v-model="email" placeholder="Correo" name="email">
                                <img class="icon-img" src="@/assets/images/icon/sms.svg" alt="sms">
                            </div>
                            <div class="form-group mb-24 icon">
                                <input type="password" class="form-control" v-model="password" placeholder="Contraseña" name="password">
                                <img class="icon-img" src="@/assets/images/icon/key.svg" alt="key">
                            </div>

                            <div class="form-group mb-24">
                                <button type="submit" class="default-btn">Ingresar</button>
                            </div>
                            <div class="form-group mb-24 text-center">
                                <p class="account">No eres miembro?

                                    <a href="#" @click="register(1)">Crear una cuenta.</a>
                                </p>

                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div class="d-table" v-if="registerValue == 1">
            <div class="d-table-cell">
                <div class="container">
                    <div class="account-content">
                        <div class="account-header">
                            <a href="index.html">
                                <img class="form-logo" src="@/assets/images/main-logo.svg" alt="main-logo">
                            </a>
                            <h3>Registro</h3>
                        </div>

                        <form class="account-wrap">
                            <div class="form-group mb-24 icon">
                                <input type="text" class="form-control" placeholder="Nombre" name="name" required>
                                <img class="icon-img" src="@/assets/images/icon/user-square.svg" alt="user-square" name="name">
                            </div>
                            <div class="form-group mb-24 icon">
                                <input type="text" class="form-control" placeholder="Apellido" name="lastName" required>
                                <img class="icon-img" src="@/assets/images/icon/user-square.svg" alt="user-square" name="lastName">
                            </div>
                            <div class="form-group mb-24 icon">
                                <input type="email" class="form-control" placeholder="Correo" name="email" required>
                                <img class="icon-img" src="@/assets/images/icon/sms.svg" alt="sms">
                            </div>
                            <div class="form-group mb-24 icon">
                                <input type="password" class="form-control" placeholder="Contraseña" name="password" required>
                                <img class="icon-img" src="@/assets/images/icon/key.svg" alt="key">
                            </div>
                            <div class="form-group mb-24">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value=""
                                        id="flexCheckDefault" required>
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Acepto <a href="#">Términos y Condiciones.</a>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group mb-24">
                                <button type="submit" class="default-btn">Registrarme</button>
                            </div>
                            <div class="form-group mb-24">
                                <p class="account">¿Ya tienes una cuenta? <a href="#" @click="register(0)">Ingresar</a></p>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import UsersService from '@/services/UsersService'
import Swal from "sweetalert2";

export default {
    name: 'LoginComponent',
    data() {
        return {
            registerValue: 0,
            email: '',
            password: '',
        }
    },
    methods: {
        register(value){
            this.registerValue = value
        },
        async login() {
            const formData = {
                email: this.email,
                password: this.password
            }
            
            await UsersService.login(formData).then((data) => {
                localStorage.clear()
                const user = data.data.user
                localStorage.setItem('statusLogin', 1)
                localStorage.setItem('token', data.data.access_token)
                localStorage.setItem('nombre', user.name + ' ' + user.lastName)
                localStorage.setItem('email', user.email)
                localStorage.setItem('typeUser', user.typeUser)
                location.reload()
            }).catch(() => {
                Swal.fire("Intento Fallido!", "Revise sud creadenciales, e intente nuevamente", "error")
            })
        }
    }
}
</script>

<style lang="scss" scoped>

</style>