<template>
    <div>

    </div>
</template>

<script>
    export default {
        name: 'ValidarAdmin',
        data() {
            return{
                typeUser: localStorage.getItem('typeUser')
            }
        },
        methods: {
            validar() {
                if(this.typeUser != 2)
                {
                    console.log(this.typeUser)
                    this.$router.push("/");
                }
            }
        },
        created() {
            this.validar()
        },
    }
</script>

<style lang="scss" scoped>

</style>