<template>
  <div>
    <div v-if="statusLogin != 1">
      <LoginComponent />
    </div>

    <div class="all-section-area" v-if="statusLogin == 1">
      <HeaderComponent />
      <SideBarComponent />

      <main class="main-content-wrap">



        <router-view />
        <div class="flex-grow-1"></div>

        <FooterComponent />
      </main>
    </div>

  </div>

</template>

<script>
import LoginComponent from '@/components/Login'
import FooterComponent from '@/components/Layouts/Footer'
import HeaderComponent from '@/components/Layouts/Header'
import SideBarComponent from '@/components/Layouts/SideBar'

export default {
  name: 'App',
  components: {
    LoginComponent,
    FooterComponent,
    HeaderComponent,
    SideBarComponent
  },
  data() {
    return {
      statusLogin: localStorage.getItem('statusLogin'),
      statusRegister: 0
    }
  },
}
</script>