<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        Crear Paquetes
                    </div>
                    <form v-on:submit.prevent="storePackage()">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6 mb-2">
                                    <input type="text" class="form-control" placeholder="Titulo" required
                                        v-model="title">
                                </div>

                                <div class="col-lg-6 mb-2">
                                    <input type="text" class="form-control" placeholder="Precio" required
                                        v-model="price">
                                </div>

                                <div class="col-lg-12 mb-2">
                                    <input type="text" class="form-control" placeholder="Descripcion" required
                                        v-model="description">
                                </div>

                                <div class="col-lg-6 mb-2">
                                    <input type="text" class="form-control" placeholder="Duracion" required
                                        v-model="daysDuration">
                                </div>

                                <div class="col-lg-6 mb-2 pt-2 ml-3">
                                    <label>Es Un Paquete de Prueba?</label> <br />
                                    <input class="form-check-input" type="checkbox" v-model="proof" />
                                </div>
                            </div>
                        </div>
                        <div class="card-header ml-auto">
                            <button :disabled="disable" type="submit" class="default-btn w-100">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <ValidarAdmin />
    </div>
</template>

<script>
import PackagesServices from '@/services/PackagesServices'
import Swal from "sweetalert2";
import ValidarAdmin from '@/components/ValidarAdmin'

export default {
    name: 'PackageCreate',
    components: {ValidarAdmin},
    data() {
        return{
            title: '',
            price: '',
            description: '',
            daysDuration: '',
            proof: false,
            disable: false
        }
    },
    methods: {
        async storePackage() {
            let loader = this.$loading.show();
            this.disabled = true


            const data = {
                title: this.title,
                price: this.price,
                description: this.description,
                daysDuration: this.daysDuration,
                proof: this.proof,
            }

            await PackagesServices.storePackage(data).then((data) => {
                loader.hide()
                if(data.data.status == 201)
                {
                    this.disable = false
                    Swal.fire("Error!", data.data.message, "error")
                }

                if(data.data.status == 200)
                {
                    Swal.fire("Registro Guardado!", data.data.message, "success")
                    this.$router.push("/packages");
                }
            })
        }
    }
}
</script>

<style lang="scss" scoped>

</style>