<template>
    <div class="page-title-area">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-9 col-sm-9">
                    <div class="page-title">
                        <h3>Paquetes de Membresia</h3>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-3">
                    <router-link to="/packages/create" class="btn btn-success w-100"> <i class="fa fa-plus-circle" />
                        Crear Nuevo Paquete</router-link>
                </div>
            </div>

            <div class="contact-list-area">
                <div class="container-fluid">
                    <div class="table-responsive" data-simplebar>
                        <table class="table align-middle mb-0">
                            <tbody>
                                <tr v-for="paquete in paquetes" :key="paquete.uuid">
                                    <td>
                                        <div class="form-check d-flex align-items-center">
                                            <h4>{{ paquete.title }}</h4>
                                        </div>
                                    </td>
                                    <td>
                                       <i class="fa fa-clock"></i>
                                        <span class="location">{{ paquete.daysDuration }}</span>
                                    </td>
                                    <td>
                                        Precio:
                                        <span class="location">{{ paquete.price }}</span>
                                    </td>

                                    <td>
                                        <ul class="d-flex justify-content-betweens">
                                            <li>
                                                <a href="#" @click="edit(paquete.uuid)">
                                                    <i class="fa fa-edit icon-format-list text-info" />
                                                </a>
                                            </li>
                                            <li v-if="paquete.status == 1">
                                                <a href="#" @click="desactivar(paquete.uuid)">
                                                    <i class="fa fa-window-close icon-format-list text-danger" />
                                                </a>
                                            </li>
                                            <li v-if="paquete.status == 2">
                                                <a href="#" @click="activar(paquete.uuid)">
                                                    <i class="fa fa-check icon-format-list text-success" />
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <ValidarAdmin />
    </div>
</template>

<script>
import PackageService from '@/services/PackagesServices';
import Swal from "sweetalert2";
import PackagesServices from '@/services/PackagesServices';
import ValidarAdmin from '@/components/ValidarAdmin'

export default {
    name: 'Packages',
    components: {ValidarAdmin},
    data() {
        return {
            paquetes: [],
        }
    },
    methods: {
        async getPackages() {

            let loader = this.$loading.show();

            await PackageService.getPackages().then((data) => {
                this.paquetes = data.data.data
            }).catch(() => {
                loader.hide()
                Swal.fire("Error!", "Su Peticion no ha sido procesada, intente nuevamente", "error")
            })

            loader.hide()
        },

        async desactivar(uuid)
        {
            let loader = this.$loading.show();
            await PackagesServices.desactivarPackage(uuid).then((data) => {
                const res = data.data
                if(res.status == 200)
                {
                    loader.hide()
                    this.getPackages()
                    Swal.fire(res.message, res.message, "success")
                }
            }).catch(() => {
                loader.hide()
                Swal.fire("Error!", "Su Peticion no ha sido procesada, intente nuevamente", "error")
            })
        },

        async activar(uuid)
        {
            console.log("Activando")
            let loader = this.$loading.show();
            await PackagesServices.activarPackage(uuid).then((data) => {
                const res = data.data
                if(res.status == 200)
                {
                    loader.hide()
                    this.getPackages()
                    Swal.fire(res.message, res.message, "success")
                }
            }).catch(() => {
                loader.hide()
                Swal.fire("Error!", "Su Peticion no ha sido procesada, intente nuevamente", "error")
            })
        }
    },
    created() {
        this.getPackages()
    }
}
</script>

<style lang="scss" scoped>

</style>