<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        Crear Usuario
                    </div>
                    <form v-on:submit.prevent="storeUser()">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6 mb-2">
                                    <input type="text" class="form-control" placeholder="Nombre" required
                                        v-model="name">
                                </div>

                                <div class="col-lg-6 mb-2">
                                    <input type="text" class="form-control" placeholder="Apellido" required
                                        v-model="lastName">
                                </div>

                                <div class="col-lg-6 mb-2">
                                    <input type="text" class="form-control" placeholder="Correo" required
                                        v-model="email">
                                </div>

                                <div class="col-lg-6 mb-2">
                                    <input type="text" class="form-control" placeholder="Clave" required
                                        v-model="password">
                                </div>

                                <div class="col-lg-6 mb-2">
                                    <input type="text" class="form-control" placeholder="Telefono" required
                                        v-model="phone">
                                </div>

                                <div class="col-lg-6 mb-2">
                                    <input type="text" class="form-control" placeholder="Web" required v-model="web">
                                </div>

                                <div class="col-lg-6 mb-2">
                                    <input type="date" class="form-control" placeholder="Fecha NAcimiento" required
                                        v-model="date">
                                </div>

                                <div class="col-lg-6 mb-2">
                                    <select name="" class="form-control" required v-model="typeUser" id="">
                                        <option value="0">SELECCIONE EL TIPO DE USUARIO</option>
                                        <option value="1">Usuario</option>
                                        <option value="2">Super Admin</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="card-header ml-auto">
                            <button :disabled="disable" type="submit" class="default-btn w-100">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <ValidarAdmin />
    </div>
</template>

<script>
import Swal from "sweetalert2";
import UsersService from '@/services/UsersService'
import ValidarAdmin from '@/components/ValidarAdmin'

export default {
    name: 'UserCreateComponent',
    components: {ValidarAdmin},
    data() {
        return {
            typeUser: 0,
            name: '',
            lastName: '',
            email: '',
            password: '',
            phone: '',
            web: '',
            date: '',
            disable: false
        }
    },
    methods: {
        async storeUser() {
            const data = {
                typeUser: this.typeUser,
                name: this.name,
                lastName: this.lastName,
                email: this.email,
                password: this.password,
                phone: this.phone,
                web: this.web,
                date: this.date,
            }

            await UsersService.registerUser(data).then((data) => {
                this.disable = true
                if (data.data.status == 200) {
                    Swal.fire("Registro Guardado!", data.data.message, "success")
                    this.$router.push("/users");
                }
            }).catch((e) => {
                this.disable = false
                Swal.fire("Registro No se ha podido guardar!", "Revise su informacion", "error")
            })
        }
    }
}
</script>
