<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header">
                        Editar Usuario
                    </div>
                    <form v-on:submit.prevent="updateUser()">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6 mb-2">
                                    <input type="text" class="form-control" placeholder="Nombre" required
                                        v-model="name">
                                </div>

                                <div class="col-lg-6 mb-2">
                                    <input type="text" class="form-control" placeholder="Apellido" required
                                        v-model="lastName">
                                </div>

                                <div class="col-lg-6 mb-2">
                                    <input type="text" class="form-control" placeholder="Correo" required
                                        v-model="email">
                                </div>

                                <div class="col-lg-6 mb-2">
                                    <input type="text" class="form-control" placeholder="Telefono" required
                                        v-model="phone">
                                </div>

                                <div class="col-lg-6 mb-2">
                                    <input type="text" class="form-control" placeholder="Web" required v-model="web">
                                </div>

                                <div class="col-lg-6 mb-2">
                                    <input type="date" class="form-control" placeholder="Fecha NAcimiento" required
                                        v-model="date">
                                </div>

                                <div class="col-lg-12 mb-2">
                                    <select name="" class="form-control" required v-model="typeUser" id="">
                                        <option value="0">SELECCIONE EL TIPO DE USUARIO</option>
                                        <option value="1">Usuario</option>
                                        <option value="2">Super Admin</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="card-header ml-auto">
                            <button :disabled="disable" type="submit" class="default-btn w-100">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-lg-4">

                <div class="card">
                    <div class="card-header">
                        Asignar Nueva Clave
                    </div>
                    <form v-on:submit.prevent="updatePassword()">
                    <div class="card-body">
                        <div class="col-lg-12 mb-2">
                            <input type="text" class="form-control" placeholder="Nueva Clave" required
                                v-model="password">
                        </div>
                    </div>
                    <div class="card-header ml-auto">
                        <button :disabled="disable2" type="submit" class="default-btn w-100">Guardar</button>
                    </div>
                    </form>
                </div>

                <button class="btn btn-warning mt-3 w-100" @click="back()">  Regresar</button>
            </div>
        </div>
        <ValidarAdmin />
    </div>
</template>

<script>
import UsersService from '@/services/UsersService'
import Swal from "sweetalert2";
import ValidarAdmin from '@/components/ValidarAdmin'

export default {
    name: 'EditUserComponent',
    components: {ValidarAdmin},
    data() {
        return {
            typeUser: 0,
            name: '',
            lastName: '',
            email: '',
            password: '',
            phone: '',
            web: '',
            date: '',
            disable: false,
            disable2: false,
            idUser: this.$route.params.uuid,
        }
    },

    methods: {
        async getUser() {
            let loader = this.$loading.show();
            await UsersService.getUser(this.idUser).then((data) => {
                const user = data.data.data
                this.name = user.name
                this.lastName = user.lastName
                this.email = user.email
                this.phone = user.phone
                this.web = user.web
                this.typeUser = user.typeUser
                this.date = user.birthday
                loader.hide()
            })
        },

        async updateUser() {

            let loader = this.$loading.show();
            this.disable = true

            const data = {
                typeUser: this.typeUser,
                name: this.name,
                lastName: this.lastName,
                email: this.email,
                phone: this.phone,
                web: this.web,
                date: this.date,
            }

            await UsersService.updateUser(data, this.idUser).then((data) => {
                const res = data.data

                if(res.status == 200)
                {
                    loader.hide()
                    Swal.fire("Registro Actualizado!", data.data.message, "success")
                    this.$router.push("/users");
                }
            }).catch((e) => {
                loader.hide()
                this.disable = false
                Swal.fire("Error!", "Error al actualizar el usuario intente nuevamente", "error")
            })
        },

        async updatePassword() {
            let loader = this.$loading.show();
            this.disable2 = true
            const data = {
                password: this.password
            }

            await UsersService.updatePassword(data, this.idUser).then((data) => {
                const res = data.data

                if (res.status == 200) {
                    loader.hide()
                    Swal.fire("Contraseña Actualizada!", data.data.message, "success")
                    this.$router.push("/users");
                }
            }).catch(() => {
                loader.hide()
                this.disable2 = false
                Swal.fire("Error!", "Error al actualizar la contraseña intente nuevamente", "error")
            })
        },

        back() {
            this.$router.push("/users");
        }
    },

    created() {
        this.getUser()
    }
}
</script>

<style>
.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  position: relative;
  width: 50%;
  max-height: 300px;
  padding: 16px;
  overflow: auto;
  background-color: #fff;
  border-radius: 4px;
}
.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin: 8px 8px 0 0;
  cursor: pointer;
}
.modal-close::hover {
  color: gray;
}
</style>