<template>
    <div class="page-title-area">
        <ValidarAdmin />
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-9 col-sm-9">
                    <div class="page-title">
                        <h3>Usuarios</h3>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-3">
                    <router-link to="/user/create" class="btn btn-success w-100"> <i class="fa fa-plus-circle" /> Crear Nuevo Usuario</router-link>
                </div>
            </div>

            <div class="contact-list-area">
                    <div class="container-fluid">
                        <div class="table-responsive" data-simplebar>
                            <table class="table align-middle mb-0">
                                <tbody>
                                    <tr v-for="user in users" :key="user.uuid">
                                        <td>
                                            <div class="form-check d-flex align-items-center">
                                                <label class="form-check-label ms-2">
                                                    <img class="rounded-circle ms-3 me-3 border" src="assets/images/user/user-2.png" alt="user-2">
                                                </label>
                                                <div class="info">
                                                    <a href="single-perfil.html">
                                                        <h4>{{ user.name }}  {{ user.lastName }}</h4>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <a href="#">{{ user.phone }}</a>
                                        </td>
                                        <td>
                                            Creacion: 
                                            <span class="location">{{ user.created_at }}</span>
                                        </td>

                                        <td>
                                            <ul class="d-flex justify-content-betweens">
                                                <li>
                                                    <a href="#" @click="edit(user.uuid)">
                                                        <i class="fa fa-edit icon-format-list" />
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" @click="membresias(user.uuid)" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                        <i class="fa fa-list icon-format-list" />
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" @click="pagos(user.uuid)">
                                                        <i class="fa fa-credit-card icon-format-list" />
                                                    </a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</template>

<script>
import UsersService from '@/services/UsersService';
import ValidarAdmin from '@/components/ValidarAdmin'
import Swal from "sweetalert2";

export default {
    name: 'UsersIndexComponent',
    components: {ValidarAdmin},
    data() {
        return {
            users: [],
        }
    },
    methods: {
        async getUsers() {

            let loader = this.$loading.show();


            await UsersService.getUsers().then((data) => {
                this.users = data.data.data

                loader.hide()
            })
        },

        edit(uuid)
        {
            this.$router.push("/user/edit/"+uuid);
        },

        membresias(uuid)
        {
            this.$router.push('/user/membresia/'+uuid)
        },

        pagos(uuid)
        {
            this.$router.push('/user/pays/'+uuid)
        }
    }, 
    created() {
        this.getUsers()
    }
}
</script>

<style lang="scss" scoped>

</style>