<template>
    <div class="container-fluid">
        <ValidarAdmin />
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        Crear Template
                    </div>
                    <form v-on:submit.prevent="store()">
                        <div class="card-body">
                            <div class="col-lg-12 col-sm-12">
                                <input type="text" class="form-control" v-model="title"
                                    placeholder="Titulo de la PLantilla">
                            </div>
                        </div>
                        <div class="card-footer ml-auto">
                            <button :disabled="disable" type="submit" class="default-btn w-100">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import TemplatesServices from '@/services/TemplatesServices';
import Swal from "sweetalert2";

export default {
    name: 'CreateTemplate',
    data() {
        return {
            title: '',
            disable: false
        }
    },
    methods: {
        async store() {
            let loader = this.$loading.show();

            const data = {
                title: this.title
            }
            await TemplatesServices.store(data).then((data) => {
                if (data.data.status == 200) {
                    Swal.fire("Registro Guardado!", data.data.message, "success")
                    this.$router.push("/templates");
                    loader.hide()
                }
            }).catch(() => {
                Swal.fire('Error!', 'Guardado no procesado, intente de nuevo', 'error')
                loader.hide()
            })
        }
    }
}
</script>

<style lang="scss" scoped>

</style>