<template>
    <div class="container-fluid">
        <ValidarAdmin />
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        Editar Template
                    </div>
                    <form v-on:submit.prevent="update()">
                        <div class="card-body">
                            <div class="col-lg-12 col-sm-12">
                                <input type="text" class="form-control" v-model="title"
                                    placeholder="Titulo de la PLantilla">
                            </div>
                        </div>
                        <div class="card-footer ml-auto">
                            <button :disabled="disable"  type="submit" class="default-btn w-100">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import ValidarAdmin from '@/components/ValidarAdmin'
import TemplatesServices from '@/services/TemplatesServices';
import Swal from "sweetalert2";

export default {
    name: 'TemplateEdit',
    components: { ValidarAdmin },
    data() {
        return {
            title: '',
            idTemplate: this.$route.params.uuid,
            disable: false
        }
    },
    methods: {
        async get() {
            let loader = this.$loading.show();
            await TemplatesServices.details(this.idTemplate).then((data) => {
                const res = data.data.data
                this.title = res.title
                loader.hide()
            }).catch((e) => {
                loader.hide()
                this.disable = false
                Swal.fire("Error!", "Error al actualizar el usuario intente nuevamente", "error")
            })
        },

        async update() {
            const data = {
                title: this.title,
                status: 1
            }
            let loader = this.$loading.show();
            await TemplatesServices.update(data, this.idTemplate).then((data) => {
                const res = data.data

                if (res.status == 200) {
                    loader.hide()
                    Swal.fire("Registro Actualizado!", data.data.message, "success")
                    this.$router.push("/templates");
                }
            }).catch((e) => {
                loader.hide()
                this.disable = false
                Swal.fire("Error!", "Error al actualizar el usuario intente nuevamente", "error")
            })
        }
    },
    created() {
        this.get()
    }
}
</script>

<style lang="scss" scoped>

</style>