<template>
    <div class="page-title-area">
        <ValidarAdmin />
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-9 col-sm-9">
                    <div class="page-title">
                        <h3>Templates</h3>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-3">
                    <router-link to="/template/create" class="btn btn-success w-100"> <i class="fa fa-plus-circle" />
                        Crear Nueva Plantilla</router-link>
                </div>
            </div>

            <div class="contact-list-area">
                <div class="container-fluid">
                    <div class="table-responsive" data-simplebar>
                        <table class="table align-middle mb-0">
                            <tbody>
                                <tr v-for="template in templates" :key="template.uuid">
                                    <td>
                                        <div class="form-check">
                                            <div class="info">
                                                <h6>{{ template.title }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        Total Mensajes Configurados:
                                        <span class="location">{{ template.messages_count }}</span>
                                    </td>

                                    <td>
                                        <ul class="d-flex justify-content-betweens">
                                            <li>
                                                <a href="#" @click="messages(template.uuid)">
                                                    <i class="fa fa-comment icon-format-list" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" @click="edit(template.uuid)" data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal">
                                                    <i class="fa fa-edit icon-format-list" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" @click="pagos(template.uuid)">
                                                    <i class="fa fa-trash text-danger icon-format-list" />
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import ValidarAdmin from '@/components/ValidarAdmin'
import TemplatesServices from '@/services/TemplatesServices';

export default {
    name: 'Templates',
    components: { ValidarAdmin },
    data() {
        return {
            templates: []
        }
    },
    methods: {
        async get() {
            await TemplatesServices.get().then((data) => {
                this.templates = data.data.data
            })
        },

        edit(uuid) {
            this.$router.push("/template/edit/"+uuid);
        },

        messages(uuid){
            this.$router.push("/messages/"+uuid);
        }
    },
    created() {
        this.get()
    }
}
</script>

<style lang="scss" scoped>

</style>